@media screen and (max-width: 768px) {
  /* Remove blue tap highligt on mobile for better PWA */
  * {
    -webkit-tap-highlight-color: transparent;
  }
}

.bold {
  font-weight: bold;
}

.day-header {
  background-color: var(--joy-palette-neutral-900, #fbfcfe) !important;
  color: var(--joy-palette-neutral-200, #32383e) !important;
}

.week-number {
  background-color: var(--joy-palette-neutral-600, #fbfcfe) !important;
  border-color: var(--joy-palette-neutral-600, #cdd7e1) !important;
  color: var(--joy-palette-neutral-200, #32383e) !important;
}
